body {
    background: rgb(170, 170, 170);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Garante que o fundo cobre toda a tela */
}
.header-nav {
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 5px 0px;
    display: flex;
    justify-content: flex-end; /* Move os itens para a direita */
}

.header-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens */
}
.header-menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.header-menu li a:hover {
    color: #007bff;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
  }
  .tabela {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; /* Para evitar espaçamentos extras entre células */
  }
  .tabela, .tabela th, .tabela td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  .pdf-button {
    max-width: 150px;
    width: 100%; 
}


